In [1]:
# Dependencies
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import os

In [2]:
# Import CSV
data = pd.read_csv('Car_safety.csv')

In [3]:
car_data = pd.DataFrame(data)

In [4]:
# Data contain non-numerical values need to convert 
car_data.head(10)

  Buying Maintenance  Doors  Persons  Lug_Boot  Safety  Class_Values
0  vhigh       vhigh      2        2     small     low         unacc
1  vhigh       vhigh      2        2     small     med         unacc
2  vhigh       vhigh      2        2     small    high         unacc
3  vhigh       vhigh      2        2       med     low         unacc
4  vhigh       vhigh      2        2       med     med         unacc
5  vhigh       vhigh      2        2       med    high         unacc
6  vhigh       vhigh      2        2       big     low         unacc
7  vhigh       vhigh      2        2       big     med         unacc
8  vhigh       vhigh      2        2       big    high         unacc
9  vhigh       vhigh      2        4     small     low         unacc

In [5]:
list(car_data.columns.values)

['Buying',
 'Maintenance',
 ' Doors',
 ' Persons',
 ' Lug_Boot',
 ' Safety',
 ' Class_Values']

In [6]:
from sklearn.preprocessing import LabelEncoder

In [7]:
number = LabelEncoder()
car_data['Buying'] = number.fit_transform(car_data['Buying'].astype('str'))
car_data['Maintenance'] = number.fit_transform(car_data['Maintenance'].astype('str'))
car_data[' Doors'] = number.fit_transform(car_data[' Doors'].astype('str'))
car_data[' Persons'] = number.fit_transform(car_data[' Persons'].astype('str'))
car_data[' Lug_Boot'] = number.fit_transform(car_data[' Lug_Boot'].astype('str'))
car_data[' Safety'] = number.fit_transform(car_data[' Safety'].astype('str'))
car_data[' Class_Values'] = number.fit_transform(car_data[' Class_Values'].astype('str'))

In [8]:
car_data.head(10)

   Buying  Maintenance   Doors   Persons   Lug_Boot   Safety   Class_Values
0       3            3       0         0          2        1              2
1       3            3       0         0          2        2              2
2       3            3       0         0          2        0              2
3       3            3       0         0          1        1              2
4       3            3       0         0          1        2              2
5       3            3       0         0          1        0              2
6       3            3       0         0          0        1              2
7       3            3       0         0          0        2              2
8       3            3       0         0          0        0              2
9       3            3       0         1          2        1              2

In [42]:
car_data.to_csv('car_data_numeric.csv')